{# templates/professional/create-account.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Criação de Conta{% endblock %}
{% block body %}
    <h1>Criação de Conta de Profissional</h1>
    <p>Crie sua conta e encontre as melhores vagas do mercado:</p>
{% endblock %}
